.projects{
    position: relative;
    margin: -45vh 0px 0px 20vw;
    //Projects
    display: flex;
    // justify-content: center;
    align-items: center;
    height: 100vh;



//     <div class="project">
//     <img src="./assets/project-1.jpg" alt="" class="main_project_image">
//     <div class="project_desc">
//         <h1>YouStream</h1>
//         <ul>
//             <li>Branding</li>
//             <li>Design</li>
//             <li>Prototyping</li>
//             <li>Development</li>
//         </ul>
//     </div>
// </div>



    .project{
        margin: 25vh 10vh 0px 10vh;
        .main_project_image{
            height: 30vh;
        }
        .project_desc{
            h1{
                margin-top: 1rem;
                font-weight: 400;
            }
            ul{
                margin-top: .65rem;
                list-style-type: none;
                display: flex;
                li{
                    margin-right: 2rem;
                }
            }
        }
    }

}


/*
    .number{
        //font-family: montserrat;
        font-size: 11rem;
        margin: -10vh 0px 0px -10vh;
        font-weight: 400;
        color: rgb(255, 255, 255);
    }
    .main_project_image{
        //background-color: rgb(0, 0, 0);
        margin: -20vh 0px 0px 0px;
        height: 100%;
        width: 100%;
        #main_project_image_img{
            position: relative;
            z-index: 10;
            height: auto;
            width: 100%;
            pointer-events: none;
            user-select: none;
            //margin: -100% 0px 0px -150%;
        }
    }
    .project_desc{
        z-index: 5;
        height: 45vh;
        width: 30vh;
        padding: 4vh 0px 0px 6vh;
        h1{
            margin: -2vh 0px 3vh -2vh;
            font-size: 5rem;
            font-weight: 300;
        }
        ul{
            list-style-type: none;
            font-weight: 200;
            margin-left: 5vh;
            li{
                font-size: 1rem;
            }
        }
    }
*/